<div class="central-photo">
  <div class="central-photo-background"></div>
  <h2>The oldest and most respected dance group on campus, Yaledancers is comprised of talented, committed dancers, ranging in skills from those who have trained and performed professionally, to those who have just discovered dance.</h2>
</div>

<div class="about">
  <p>Members, selected by audition each fall, meet twice weekly for classes taught both by students and guest artists, culminating in two sellout shows (Fall and Spring) to showcase original guest and student choreography. The company prides itself on its dancers' ability to perform a wide variety of dance styles, including classical and modern ballet, jazz, tap, hip hop and modern dance. Yaledancers also provides a social outlet and sense of community for members, creating lasting friendships among both graduate and undergraduate students.</p>

  <p>Yaledancers is also a founding member of the Alliance for Dance at Yale. ADAY serves as a collective forum for dance groups at Yale and provides classes, support, and the Dance Symposium to the Yale dance community.</p>
  <br/>
  
  <h2>Did You Know?</h2>

  <p>Eliza Minden, creator of <a href="http://www.dancer.com/" target="_blank">Gaynor Minden</a> pointe shoes, is a YD alum.</p>
</div>