<div class="nav">
  <div class="adjustable-nav">
    <a href="#" class="logo">YD</a>
    <div class="open-nav-links"><i class="icon-reorder"></i></div>
  </div>
  <div class="collapsible-nav">
    <ul class="nav-links">
      <a href="#members"><li>Company Members</li></a>
      <a href="#about"><li>About the Company</li></a>
      <a href="#gallery"><li>Gallery</li></a>
      <a href="#contact"><li>Contact Us</li></a>
    </ul>
    
    <div class="nav-footer">
      Subscribe to our YouTube channel to see selections from performances past and present, and for a peek behind the scenes with rehearsal footage.
      
      <div class="nav-social">
        <a href="http://www.youtube.com/user/Yaledancers" target="_blank"><i class="icon-youtube"></i></a>
        <a target="_blank"><i class="icon-instagram"></i></a>
        <a href="https://www.facebook.com/pages/Yaledancers/447570198675301" target="_blank"><i class="icon-facebook-sign"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="container"></div>