<div class="gallery-photo-focus">
  <div class="top-menu">
    <div class="pull-right">
      <span class="close-popover">X</span>
    </div>
  </div>
  
  <div class="medium-photo">
    <img src="<%= url_s %>"/>
  </div>
  
  <div class="large-photo" style="display: none">
    <img src="<%= url_o %>"/>
  </div>
  
  <div class="bottom-menu">
    <a class="close-photo"><i class="icon-chevron-sign-up"></i> Close</a>
  </div>
</div>