<div class="member-container">
  <div class="member-text">
    <h1 class="member-name"><%= name %></h1>
    <div class="member-subtitle"><%= college %>, <%= year %></div>
    <div class="member-bio"><%= bio %></div>
  </div>
</div>